body {
	background-color: #87ceeb;
}

strong {
	font-family: "Comic Sans MS";
	background-color: white;
	color: #87ceeb;
}

h1 {
	font-family: "Comic Sans MS";
	background-color: white;
	color: #87ceeb;
}

button {
	border-color: #87ceeb;
	background-color: white;
	color: #87ceeb;
	font-family: "Comic Sans MS";
	background-color: white;
	color: #87ceeb;
}

a {
	font-family: "Comic Sans MS";
	background-color: white;
	color: #87ceeb;
}

p {
	font-family: "Comic Sans MS";
	background-color: white;
	color: #87ceeb;
}

ul {
	font-family: "Comic Sans MS";
	background-color: white;
	color: #87ceeb;
}